<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EquilendEntities" connectionString="metadata=res://*/Equilend.csdl|res://*/Equilend.ssdl|res://*/Equilend.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BLOB;Initial Catalog=Equilend;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>