<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContractCompareLoanetFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ContractCompareLoanetFile.Properties.Settings.spHeliumDataForContractCompareLoanetFile"
            connectionString="Data Source=maplesqldev; Initial Catalog=ContractCompare; Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <ContractCompareLoanetFile.Properties.Settings>
            <setting name="EmailGroup" serializeAs="String">
                <value>aland@mapleusa.com</value>
            </setting>
            <setting name="EmailToText" serializeAs="String">
                <value>NJITSMSSL@mapleusa.com</value>
            </setting>
            <setting name="ImportFileDir" serializeAs="String">
                <value>\\maplenj\dfs\DailyFiles\global1_ContractCompare\</value>
            </setting>
        </ContractCompareLoanetFile.Properties.Settings>
    </applicationSettings>
</configuration>